@{
    ViewBag.Title = "Home Page";
}
<div id="page-wrapper">
    <div id="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <header id="header">
                        <h1><a>CARS</a></h1>
                    </header>

                </div>
            </div>
        </div>
    </div>
    <div id="banner-wrapper">
        <div class="container">
        </div>

        <div id="main">
            <div class="container">
                <div class="row main-row">
                    <div class="col-4 col-12-medium">
                        
                        <section>
                            <p>
                                Цей <strong>сайт</strong>, описує їхню історію і повсякденне життя і реалізовано для того щоб ви роздивилися їхню специфіку.Щоб подивитися склад машин нажміть на переходи які знаходяться вверху.Щоб зайти на склад потрібно зареєструватися або ввійти в аккаунт!(Це дуже важливо)
                                <footer class="controls"></footer>
                        </section>

                    </div>
                    <div class="col-4 col-6-medium col-12-small">

                        <section>
                            <h2>
                                Хто заснував машини Бугатті і Феррарі?
                            </h2>
                            <ul class="small-image-list">
                                <li>
                                    <h4>Бугатті Етторе</h4>
                                    <p>Він заснував фірму в 1909 році.Успішною новинкою авторинку стала модель «13».</p>
                                </li>
                                <li>
                                    <h4>Енцо Феррарі</h4>
                                    <p>
                                        Феррарі виготовляв свої автомобілі невеликими партіями, тільки методом ручного складання. Їх відрізняла висока швидкість і унікальний дизайн. У 1969 році Енцо поступився 50% акцій своєї компанії концерну «ФІАТ», але до 1977 року залишався президентом фірми, а контроль над командою «Scuderia Ferrari» тримав у своїх руках до самої смерті. Його команда стала найпотужнішою й найтитулованішою у Формулі-1.
                                    </p>
                                </li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-4 col-6-medium col-12-small">

                        <section>
                            <h2>Посилання на їхню детальну інформацію</h2>
                            <div>
                                <div class="row">
                                    <div class="col-6 col-12-small">
                                        <ul class="link-list">
                                            <li align="left"><a href="#"><a href="https://uk.wikipedia.org/wiki/%D0%95%D1%82%D1%82%D0%BE%D1%80%D0%B5_%D0%91%D1%83%D0%B3%D0%B0%D1%82%D1%82%D1%96">Детальніше про засновника Бугатті </a></a></li>
                                            <li align="left"><a href="#"><a href="https://uk.wikipedia.org/wiki/Bugatti">Детальніше про компанію Бугатті </a></a></li>
                                            <li align="left"><a href="#"><a href="https://uk.wikipedia.org/wiki/%D0%95%D0%BD%D1%86%D0%BE_%D0%A4%D0%B5%D1%80%D1%80%D0%B0%D1%80%D1%96">Детальніше про засновника  Феррарі</a></a></li>
                                            <li align="left"><a href="#"><a href="https://uk.wikipedia.org/wiki/Ferrari">Детальніше про  компанію Феррарі</a></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="col-6 col-12-medium">
                        <section>
                            <h2>Інші засновники машин</h2>
                            <ul class="big-image-list">
                                <li>
                                    <h3>Лайонел Мартін і Роберт Бамфорд</h3>
                                    <p>Aston Martin була заснована в 1913 році Лайонелем Мартіном і Робертом Бамфордом. У минулому році вони об'єднали свої зусилля у компанії Bamford & Martin, щоб продавати автомобілі, виготовлені компанією Singer, у приміщенні на Келлоу Стріт у Лондоні, де також обслуговували автомобілі GWK та Calthorpe. Мартін брав участь у перегонах на пагорбі Астон Хілл біля Астон Клінтон, і згодом пара вирішила виготовляти свої власні машини. Перша машина, яка отримала назву Aston Martin, була створена Мартіном із встановленням чотирициліндрового двигуна Coventry-Simplex на шасі Isotta-Fraschini 1908 року.</p>
                                </li>
                                <li>

                                    <h3 align="center">Генрі Форд</h3>
                                    <p>Компанія Ford Motor з'явилася в 1903 році. Її засновниками були дванадцять бізнесменів зі штату Мічиган на чолі з Генрі Фордом, який тримав 25,5 % акцій підприємства і посідав посади віце-президента і головного інженера компанії.Перший овальний логотип Ford з'явився в 1907 році завдяки першим британським представникам компанії Перрі (Perry), Торнтон (Thornton) і Шрайбер (Schreiber). У рамках рекламної кампанії він був представлений як «тавро вищої проби», покликане символізувати надійність та економічність. Протягом наступних п'яти років Генрі Форд керував загальним розвитком і програмою виробництва. За цей час було використано 19 букв алфавіту — від Model А до Model S. Частина з цих моделей так і залишилася на рівні експериментальних, не дійшовши до кінцевого споживача.</p>
                                </li>
                                <li>
                                    <h3 align="center">Аїкава Йосісуке,Den Kenjirō,William R. Gorham</h3>
                                    <p>У 2018 році компанія припинила розробку дизельних двигунів. Легкові автомобілі з дизельними двигунами вже заборонені в США і Японії. В Європі вже також діють обмеження на рух дизельних легкових автомобілів у великих містах. Партнер японської компанії Renault також планує припинити розробку дизельних двигунів (трохи раніше про відмову від розробки дизелів повідомило Volvo). Японська компанія поки що (до 2020) буде випускати такі авто, але замість того, щоб розробляти нові, буде використовувати дизельні двигуни інших компаній.19 листопада 2018 року Карлос Гон, колишній президент і виконавчий директор був арештований. Його звинувачують у привласненні $44 млн корпоративних коштів, переведення $1,7 млн своїй сестрі у Бразилію, проживання у шести розкішних будинках у Токіо, Нью-Йорку, Ріо, Бейруті, Парижі та Амстердамі. Разом з ним був також арештований директор Renault Грег Келлі. Із 22 листопада 2018 року компанію очолив японець Хірото Сайкава.</p>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-6 col-12-medium">

                        <article class="blog-post">

                            <h3 align="center">АВТО БЛОГ</h3>
                            <p>Привіт шановні друзі!Насамперед цей канал присвячений російській І УКРАЇНСЬКИМ АВТОМОБІЛІВ, російсьому і УКРАЇНСЬКОМУ тюнінгу, невідомим і давно забуті вітчизняні розробки РІЗНОЇ АВТОМОБІЛЬНОЇ ТЕХНІКИ, А ТАКОЖ ТУТ розглядаються РІЗНІ автоприколи з життя автомобілістів та веселі ситуації на дорогах!Приємного вам перегляду!</p>

                            <li><a href="#"><a href="https://www.youtube.com/user/avtoblog2014/featured">Перегляд АВТО БЛОГУ </a></a></li>

                            <footer class="controls"></footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-wrapper">
        <div class="container">
            <div class="row">
            </div>
            <div class="col-4 col-12-medium">

            </div>
        </div>
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>